<html>
  <head>
    <style>
      @font-face {
        font-family: 'kalpurush';
        src: url('http://localhost:5488/fonts/kalpurush.ttf') format('truetype');
      }

      body {
        font-family: 'kalpurush', sans-serif;
      }
    </style>
    
  </head>
  <body>
    <h1>Hello {{message}}</h1>
    <p>এটি একটি বাংলা টেস্ট পিডিএফ রিপোর্ট!</p>
  </body>
</html>
